<!-- main segment -->
<div class="big-box">
  <!-- contains segment info -->
  <div class="seg-cont">
    <!-- Text and button for segment -->
    <div class="info-seg">
      <div class="text1"><p class="seg-text1">Get up to</p></div>
      <div class="text2"><p class="seg-text2">20% DISCOUNT</p></div>
      <div class="text3"><p class="seg-text3">on order over $80</p></div>

      <button class="seg-btn">View More</button>
    </div>

    <!-- Image in segment -->
    <div class="img-seg">
      <img src="/assets/Disc_Segment.svg" alt="k_book_img" class="seg-com" />
    </div>
  </div>
</div>

<div class="extra"></div>
