<!-- Categories to represent genre -->
<div class="categ">
  <ul>
    <div class="act" routerLink="action" routerLinkActive="active">
      <li>Action</li>
    </div>
    <div class="sup" routerLink="superhero" routerLinkActive="active">
      <li>Superhero</li>
    </div>
    <div class="slice" routerLink="slice-of-life" routerLinkActive="active">
      <li>Slice-of-Life</li>
    </div>
    <div class="hum" routerLink="humor" routerLinkActive="active">
      <li>Humor</li>
    </div>
    <div class="hor" routerLink="horror" routerLinkActive="active">
      <li>Horror</li>
    </div>
  </ul>
</div>
