/* Heading for the carousel section */
.main-heading {
  font-family: "Roboto", sans-serif;
  margin-left: 4.5%;
  margin-bottom: -5;
}

/* First Header  */
.heading1 {
  font-size: 24px;
  margin: 5px 0;
}

/* Second Header */
.heading2 {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 15px;
}

#main-sect {
  width: 98vw;
  height: 100vh;
  padding: 0 5%;
  /* background-color: rgb(236, 228, 216); */
}

.main-slider {
  width: 100%;
  /* margin: auto; */

  position: relative;
  overflow: hidden;
}

.inner-slider {
  height: 100%;
  display: flex;
  gap: 90px;
  pointer-events: none;
  transition: transform 0.4s ease;
}

.bi-arrow-left-circle-fill,
.bi-arrow-right-circle-fill {
  color: #0000004b;
}

.bi-arrow-left-circle-fill:hover,
.bi-arrow-right-circle-fill:hover {
  color: #0000009e;
  transition: 0.4s ease;
}

.slider-button {
  border: none;
  outline: none;

  position: absolute;
  inset-block: 0;
  z-index: 10;

  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-button button {
  background: none;
  border: none;
  outline: none;

  cursor: pointer;
}

.slider-prev-button {
  left: 0;
}
.slider-next-button {
  right: 0;
}

.slide-box {
  /* margin-top: 220px; */
  width: 100%;
  height: 95%;
  border: 2px solid #3a363638;
  padding: 7%;
}

.pic1 {
  width: 153px;
  height: 226px;
}

.pic1 > img {
  height: 100%;
  width: 100%;
}

.comic-info {
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  width: 100%;
}

/* Title for comics styling */
.title {
  font-size: 17px;
  font-weight: bold;
}

/* Artist for comic styling  */
.artist {
  margin: 3px 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.741);
}

/* Genre styling for comic */
.genre {
  font-size: 17px;
}

/* Price for comic styling */
.price {
  margin: 3px 0;
  font-weight: bold;
}
