<div class="main-heading">
  <p class="heading1">New Issue</p>
  <p class="heading2">Releases</p>
</div>
<section>
  <div class="container">
    <div class="carousel">
      <input type="radio" name="slides" checked="checked" id="slide-1" />
      <input type="radio" name="slides" id="slide-2" />
      <input type="radio" name="slides" id="slide-3" />
      <input type="radio" name="slides" id="slide-4" />
      <input type="radio" name="slides" id="slide-5" />
      <input type="radio" name="slides" id="slide-6" />
      <ul class="carousel__slides">
        <li class="carousel__slide">
          <figure>
            <div>
              <img src="/assets/Block_1.jpg" alt="" />
            </div>
            <figcaption>
              The Mutant
              <span class="credit">Tim Burner</span>
            </figcaption>
          </figure>
        </li>
        <li class="carousel__slide">
          <figure>
            <div>
              <img src="/assets/Block_6.jpg" alt="" />
            </div>
            <figcaption>
              Anna The Warrior
              <span class="credit">Christian Baker</span>
            </figcaption>
          </figure>
        </li>
        <li class="carousel__slide">
          <figure>
            <div>
              <img src="/assets/Block_4.jpg" alt="" />
            </div>
            <figcaption>
              The Detective Inc
              <span class="credit">Steve White</span>
            </figcaption>
          </figure>
        </li>
        <li class="carousel__slide">
          <figure>
            <div>
              <img src="/assets/Block_5.png" alt="" />
            </div>
            <figcaption>
              I Want To Go North
              <span class="credit">Joe Boguslawska</span>
            </figcaption>
          </figure>
        </li>
        <li class="carousel__slide">
          <figure>
            <div>
              <img src="/assets/Block_8.jpg" alt="" />
            </div>
            <figcaption>
              Fighter's Club
              <span class="credit">Rosan Rose</span>
            </figcaption>
          </figure>
        </li>
        <li class="carousel__slide">
          <figure>
            <div>
              <img src="/assets/Block_3.jpg" alt="" />
            </div>
            <figcaption>
              Living In Monster World
              <span class="credit">Annie Lee</span>
            </figcaption>
          </figure>
        </li>
      </ul>
      <ul class="carousel__thumbnails">
        <li>
          <label for="slide-1"
            ><img src="/assets/Block_1.jpg" alt="square_1"
          /></label>
        </li>
        <li>
          <label for="slide-2"
            ><img src="/assets/Block_6.jpg" alt="square_2"
          /></label>
        </li>
        <li>
          <label for="slide-3"
            ><img src="/assets/Block_4.jpg" alt="square_3"
          /></label>
        </li>
        <li>
          <label for="slide-4"
            ><img src="/assets/Block_5.png" alt="square_4"
          /></label>
        </li>
        <li>
          <label for="slide-5"
            ><img src="/assets/Block_8.jpg" alt="square_5"
          /></label>
        </li>
        <li>
          <label for="slide-6"
            ><img src="/assets/Block_3.jpg" alt="square_6"
          /></label>
        </li>
      </ul>
    </div>
  </div>
</section>
