<div class="main-heading">
  <p class="heading1">New Issue</p>
  <p class="heading2">Releases</p>
</div>

<!-- **************************************** Carousel Part  ******************************** -->
<section id="main-sect">
  <!-- Main slider  -->
  <div class="main-slider">
    <div class="slider-button slider-prev-button">
      <button (click)="changeSlide('prev')">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-arrow-left-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
          />
        </svg>
      </button>
    </div>
    <div class="slider-button slider-next-button">
      <button (click)="changeSlide('next')">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-arrow-right-circle-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
          />
        </svg>
      </button>
    </div>
    <div class="inner-slider">
      <!-- slides for carousel -->
      <!-- **** Slide 1 ***** -->
      <div class="slide-box">
        <div class="pic1">
          <img src="/assets/Block_1.jpg" alt="" class="slide-1" />
        </div>

        <div class="comic-info">
          <p class="title">The Mutant</p>
          <p class="artist">Tim Burner</p>
          <p class="genre">Action</p>
          <p class="price">$90</p>
        </div>
      </div>

      <!-- slide 2 -->
      <div class="slide-box">
        <div class="pic1">
          <img src="/assets/Block_6.jpg" alt="" class="slide-2" />
        </div>

        <div class="comic-info">
          <p class="title">Anna The Warrior</p>
          <p class="artist">Christian Baker</p>
          <p class="genre">Superhero</p>
          <p class="price">$93</p>
        </div>
      </div>

      <!-- slide 3 -->
      <div class="slide-box">
        <div class="pic1">
          <img src="/assets/Block_4.jpg" alt="" class="slide-3" />
        </div>

        <div class="comic-info">
          <p class="title">The Detective Inc</p>
          <p class="artist">Steve White</p>
          <p class="genre">Action</p>
          <p class="price">$87</p>
        </div>
      </div>

      <!-- slide 4 -->
      <div class="slide-box">
        <div class="pic1">
          <img src="/assets/Block_5.png" alt="" class="slide-4" />
        </div>

        <div class="comic-info">
          <p class="title">I Want To Go North</p>
          <p class="artist">Joe Boguslawska</p>
          <p class="genre">Slice-of-Life</p>
          <p class="price">$65</p>
        </div>
      </div>

      <!-- slide 5 -->
      <div class="slide-box">
        <div class="pic1">
          <img src="/assets/Block_8.jpg" alt="" class="slide-5" />
        </div>

        <div class="comic-info">
          <p class="title">Fighter's Club</p>
          <p class="artist">Rosan Rose</p>
          <p class="genre">Action</p>
          <p class="price">$78</p>
        </div>
      </div>

      <!-- Slide 6 -->
      <div class="slide-box">
        <div class="pic1">
          <img src="/assets/Block_3.jpg" alt="" class="slide-6" />
        </div>

        <div class="comic-info">
          <p class="title">Monster World</p>
          <p class="artist">Annie Lee</p>
          <p class="genre">Slice-of-Life</p>
          <p class="price">$102</p>
        </div>
      </div>
    </div>
  </div>
</section>
